@page "/flashcards/writting"

@using ChineseDictionary.Models
@using System.ComponentModel.DataAnnotations

@inject NavigationManager navigation
@inject ChineseDictionary.Services.IFlashcardsStatusService FlashcardsStatus

@inject IJSRuntime JSRuntime

<h1>Writting</h1>
<br/>

@if (word != null)
{
    <h4>@word.Chinese</h4>

    <div id='character-quizzing'></div><br/>

    <div id='mistakesCounter'></div><br />

    <button @onclick="HandleNext">Next</button>
    <br /><br/>
    <button @onclick="HandleStopSubmit">Stop train</button>
    <br/><br/>
}
else
{
    <p><em>Loading...</em></p>
}

@code {

    Word word;
    private Model model = new Model();

    private static Action mistake;
    private static Action complete;

    private int numbOfMistakes = 0;
    private int numbOfComplete = 0;

    List<ColoredCharacter> coloredCharacters;

    protected override void OnInitialized()
    {
        if (FlashcardsStatus.IsStateBegin())
            navigation.NavigateTo("flashcards");

        if (FlashcardsStatus.IsStateTrainingOptions())
            navigation.NavigateTo("flashcards/options");

        if (FlashcardsStatus.IsStateTrainingReview())
            navigation.NavigateTo("flashcards/review");

        if (FlashcardsStatus.IsStateTrainingWritting())
            word = FlashcardsStatus.GetWord();

        if (FlashcardsStatus.IsStateEnd())
            navigation.NavigateTo("flashcards/results");

        mistake = OnMistake;
        complete = OnComplete;
    }

    private void HandleNext()
    {
        if (numbOfComplete == word.Chinese.Length & numbOfMistakes < 4)
        {
            FlashcardsStatus.Answer(true);
        }
        else
        {
            FlashcardsStatus.Answer(false);
        }
        if (FlashcardsStatus.IsStateTrainingWritting())
        {
            numbOfMistakes = 0;
            numbOfComplete = 0;
            word = FlashcardsStatus.GetWord();
        }
    }

    protected override void OnParametersSet()
    {
        coloredCharacters = PaintingOfCharacters.PaintCharacter(word.Pinyin, word.Chinese);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await JSRuntime.InvokeVoidAsync("removeListenersQuiz");
        }
        if (word != null)
        {
            coloredCharacters = PaintingOfCharacters.PaintCharacter(word.Pinyin, word.Chinese);
            foreach (ColoredCharacter colChar in coloredCharacters)
            {
                await JSRuntime.InvokeAsync<string>("writting", colChar.character, colChar.color);
            }
        }
    }

    private void HandleStopSubmit()
    {
        FlashcardsStatus.StopTrain();
    }

    private void OnMistake()
    {
        numbOfMistakes++;
    }

    private void OnComplete()
    {
        numbOfComplete++;
    }

    [JSInvokable]
    public static void Mistakes()
    {
        mistake.Invoke();
    }

    [JSInvokable]
    public static void Complete()
    {
        complete.Invoke();
    }

    // Maybe move & group with other models
    public class Model
    {
        [Required]
        public string Translate { get; set; }
    }
}
