@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<h5 style="color: @mistakes_color">@localization.Mistakes @mistakes_count</h5>


@code {
    private int mistakes_count = 0;
    private string mistakes_color;

    private Strings localization = new Strings();

    protected override async Task OnInitializedAsync()
    {
        localization = await I18nText.GetTextTableAsync<Strings>(this);
    }

    protected override void OnInitialized()
    {
        if (mistakes_count < 4)
        {
            mistakes_color = "#000000";
        }
        else
        {
            mistakes_color = "#FF0000";
        }
    }

    public void UpdateMistakesCount(int new_count, string new_color)
    {
        this.mistakes_count = new_count;
        this.mistakes_color = new_color;
        this.StateHasChanged();
    }
}
