@page "/flashcards"
@using ChineseDictionary.Models
@inject HttpClient Http
@inject ChineseDictionary.Services.IDictionaryServiceAsync Dictionary
@inject ChineseDictionary.Services.IFlashcardsService Flashcards

@using TG.Blazor.IndexedDB
@inject IndexedDBManager DbManager
@inject DbStore DbStore

<h1>Flashcards</h1>

@if (training == false)
{
    <EditForm Model="@input" OnValidSubmit="HandleTrainSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        Number of words:
        <InputNumber id="WordsCount" @bind-Value="input.WordsCount" />

        <button type="submit">Train!</button>
    </EditForm>
}
else
{
    @if (word != null)
    {

        @foreach (string translate in translations)
        {
            <li>@translate</li>
        }

        <EditForm Model="@input" OnValidSubmit="HandleTrainSubmit">
            <button type="submit">Stop train</button>
        </EditForm>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
}

@code {

    bool training = false;

    private InputFlashcardsModel input = new InputFlashcardsModel();
    ExtendedWord word;
    List<string> translations;

    protected override async Task OnInitializedAsync()
    {
        word = (await Dictionary.SearchByChineseAsync("", 0, 1)).First(); // mock word
    }

    private async void HandleTrainSubmit()
    {
        training = !training;
        if (training)
        {
            translations = Flashcards.GetRandomTranslations(word.Chinese, 4);
        }

    }
}
