@page "/search"
@using ChineseDictionary.Models
@inject HttpClient Http
@inject ChineseDictionary.Services.IDictionaryService Dictionary

@using TG.Blazor.IndexedDB
@inject IndexedDBManager DbManager
@inject DbStore DbStore

<h1>Search</h1>

<EditForm Model="@fieldModel" OnValidSubmit="HandleSearchSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="SearchString" @bind-Value="fieldModel.SearchString" />

    <button type="submit">Search</button>
</EditForm>

@if (words == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var word in words)
    {
        <p>
            <h4><a href="/search/@word.Chinese">@word.Chinese</a></h4><h5>@word.Pinyin</h5> <br />
            <em>@string.Join(", ", word.Translations)</em>
        </p>
    }
    <button @onclick="AddMore">More</button>
}

@code {

    private InputFieldModel fieldModel = new InputFieldModel();

    private int shownItems = 20;

    private IEnumerable<Word> words;

    protected override async Task OnInitializedAsync()
    {
        words = Dictionary.SearchByChinese("", 0, shownItems);

        //Some code to show how to work with Indexed DB
        //var z = (await DbManager.GetRecords<Word>("Dictionary")).ToList();
        //if (!z.Any())
        //{
        //    for (int i = 0; i < 1600; ++i)
        //    {
        //        await DbManager.AddRecord<Word>(new StoreRecord<Word> { Storename = ChineseDictionary.Constants.DbConstants.StoreName, Data = new Word { Chinese = "你好", Pinyin = "nǐ hǎo", Translations = new List<string> { "привет", "здравствуй" } } });
        //        await DbManager.AddRecord<Word>(new StoreRecord<Word> { Storename = ChineseDictionary.Constants.DbConstants.StoreName, Data = new Word { Chinese = "你好吗", Pinyin = "nǐ hǎo", Translations = new List<string> { "привет", "здравствуй" } } });
        //        await DbManager.AddRecord<Word>(new StoreRecord<Word> { Storename = ChineseDictionary.Constants.DbConstants.StoreName, Data = new Word { Chinese = "你好妈妈", Pinyin = "nǐ hǎo", Translations = new List<string> { "привет", "здравствуй" } } });
        //    }
        //}
        //words = (await DbManager.GetAllRecordsByIndexContains<Word>(new StoreIndexQueryStringContains { Storename =  ChineseDictionary.Constants.DbConstants.StoreName, IndexName = ChineseDictionary.Constants.DbConstants.Chinese, , QueryValue = "你" })).Take(20).ToList();
    }

    private void HandleSearchSubmit()
    {
        words = Dictionary.SearchByChinese(fieldModel.SearchString, 0, shownItems);
    }

    public void AddMore()
    {
        shownItems += 20;
        var wordsList = words.ToList();
        wordsList.AddRange(Dictionary.SearchByChinese(fieldModel.SearchString, shownItems - 20, shownItems));
        words = wordsList;
    }
}
